Repository ales27pm/artificialRECHERCHISTE: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, env-validation, typescript-check

eslint:
  name: eslint
  entry: bunx eslint
  language: system
  args:
  - --fix

env-validation:
  name: Environment Variable Validation
  entry: bash
  language: system
  args:
  - -c
  ...

typescript-check:
  name: TypeScript Type Check
  entry: bunx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

Add files via upload
  AGENTS.md
Due: none

feat: harden agent control plane
  .agents/index.json
  .agents/ledger/2025-11-01T07:08:10Z.json
  .agents/metrics.json
  .agents/modules/api/tasks.json
  .agents/modules/components/tasks.json
  .agents/modules/config/tasks.json
  .agents/modules/core/tasks.json
  .agents/modules/navigation/tasks.json
  .agents/modules/screens/tasks.json
  .agents/modules/state/tasks.json
  .agents/modules/types/tasks.json
  .agents/modules/utils/tasks.json
  .agents/priorities.json
  .agents/schemas/index.schema.json
  .agents/schemas/priorities.schema.json
  .agents/schemas/tasks.schema.json
  .agents/snapshots/2025-11-01T07:08:10Z.json
  .agents/version
  .github/workflows/agent-control-plane.yml
  AGENTS.md
  OVERVIEW.md
  VISION.md
  scripts/agent_bootstrap.sh
  scripts/agent_next_step.sh
  scripts/agent_post_session_update.sh
  scripts/agent_scan.py
Due: env-validation

fix: restore lint and test tooling
  .agents/index.json
  .agents/ledger/2025-11-01T07:39:37Z.json
  .agents/metrics.json
  .agents/modules/__tests__/tasks.json
  .agents/snapshots/2025-11-01T07:39:37Z.json
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  src/utils/__tests__/cn.test.ts
  src/utils/cn.ts
  src/utils/searchTest.ts
  src/utils/test-search-fix.ts
Due: eslint, env-validation, typescript-check

fix: address review feedback
  .agents/index.json
  .agents/schemas/priorities.schema.json
  .github/workflows/agent-control-plane.yml
  OVERVIEW.md
  scripts/agent_next_step.sh
  scripts/agent_post_session_update.sh
  scripts/agent_scan.py
Due: env-validation

fix(ci): remove unsupported bun cache from setup-node
  .agents/ledger/2025-11-01T08:00:06Z.json
  .agents/metrics.json
  .agents/snapshots/2025-11-01T08:00:06Z.json
  .github/workflows/build-ios-turbo-modules.yml
Due: env-validation

Add agents_sync.py for managing documentation
  scripts/agents_sync.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  env-validation: any of: \.(ts|tsx|js|jsx|json|yml|yaml)$
  typescript-check: any of: \.(ts|tsx)$
